<div class="container justify-content-between">
  <div class="page-header">
    <div class="band-nav">
      <div class="container d-flex justify-content-between">
        <h2 class="band-session-band-title"><%= @band.title %></h2>
        <a class="btn btn-primary mt-3 ms-5" href="<%= band_my_band_path(current_user.band)%>" role="button">My band</a>
      </div>
      <% @band_sessions.each do |band_session| %>
        <div class="band_sessions_details_card fs-4 mx-2">
              <ul class="fs-4 mt-2">
                <li>Band session: <%= band_session.start_date.strftime('%d/%m/%Y %H:%M') %> - <%= band_session.end_date.strftime('%d/%m/%Y %H:%M') %></li>
              </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
