<div class="container d-flex justify-content-between">
  <% @band_sessions.each do |band_session| %>
    <div class="user_details_card fs-4 mx-2">
          <ul class="fs-4 mt-2">
            <li>Band session: <%= band_session.start_date.strftime('%d/%m/%Y %H:%M') %> - <%= band_session.end_date.strftime('%d/%m/%Y %H:%M') %></li>
          </ul>
    </div>
  <% end %>
</div>

<%= link_to 'Return to band', band_path(@band_sessions.first.band) %>
