// Specific CSS for your home-page
html, body, #map-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  flex-direction: column;
}

body{
 background-color: rgb(240, 159, 8);
 color: white;
}

.photo-container {
  height: 500px;
  background-image: url(asset_path('male-band-playing-on-outdoor-600nw-2504988701.webp'));
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  padding: 20px;
  color: white;
  position: relative;
  text-align: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.photo-container h1, .photo-container .motto {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.photo-container h1 {
  font-size: 3em;
  font-weight: bold;
  top: 40%;
}

.photo-container .motto {
  font-size: 1.5em;
  margin-top: 10px;
  font-style: italic;
  top: 55%;
}

.content-wrapper {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  height: 150px;
}

.footer-border{
  border-top: 2px solid black;
  margin-top: 60px;
}

.footer_item{
  font-size: 2rem;
  margin: 1rem;
}
