// Specific CSS for your home-page
html, body, #map-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(240, 159, 8);
  color: white;
  background: linear-gradient(to bottom right, rgb(205, 171, 45), rgba(240, 140, 8, 0.6), rgba(240, 120, 8, 0.3));
  margin: 0;
}

.photo-container {
  min-height: 280px;
  height: 500px;
  background-image: url(asset_path('main-banner.jpg'));
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  padding: 20px;
  color: white;
  position: relative;
  text-align: center;
  background-blend-mode: overlay;
  filter: brightness(1.0) contrast(1.2);
  background-position: center 70%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.photo-container h1, .photo-container .motto {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.photo-container h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.photo-container .motto {
  font-size: 1.5em;
  margin-top: 10px;
  font-style: italic;
}

.content-wrapper {
  flex: 1;
  padding-bottom: 3rem;
}

.footer {
  flex-shrink: 0;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: $body-font;
  font-size: 0.8rem;
}

.footer-border {
  border-top: 1px solid #e67e22;
  padding-top: 0.8rem;
  margin-top: 0.8rem;
}

.footer_item {
  font-size: 1.4rem;
  margin: 0.7rem;
  color: #e67e22;
}

.footer_item:hover {
  color: #fff;
  transition: color 0.3s ease;
}

html {
  height: 100%;
  background: linear-gradient(to bottom right, rgb(240, 159, 8), rgba(240, 140, 8, 0.6), rgba(240, 120, 8, 0.3));
}

.container, .row, .cards-container {
  background: transparent;
}

.col-4[data-toggleswitch-target="myMarker"] {
  position: sticky;
  top: 20px;
}

.d-flex.justify-content-between.align-items-center {
  gap: 20px;
}

* {
  user-select: none;
}

.banner-text {
  margin: 10px;
  font-size: 14px;
  color: white;
}

.section-title {
  font-weight: bold;
  font-size: 24px;
  color: rgb(54, 69, 79);
  text-align: center;
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 10px;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #e67e22;
  bottom: 0;
  left: 25%;
  border-radius: 2px;
}

.section-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}
