<div class="">
  <p>You are currently logged in as <%= current_user.first_name %> </p>
  <h5>These are all the other users</h5>
  <ul>

    <% @users.each do |user| %>
      <li><%= user.first_name %></li>
    <% end %>
  </ul>

</div>
