<footer class="footer">

  <div class="d-flex justify-content-between align-items-center mx-4">

    <div>
      <ul class="list-group list-group-horizontal fs-5">
        <li class="list-group p-3"> <p>&copy; <%= Time.current.year %> BandFinder</p>
        <li class="list-group p-3"><span>About the authors<span></li>
      </ul>
    </div>

    <div>
      <ul class="list-group list-group-horizontal">
        <li class="footer_item list-group"><i class="fa-brands fa-github"></i></li>
        <li class="footer_item list-group"><i class="fa-brands fa-facebook"></i></li>
        <li class="footer_item list-group"><i class="fa-brands fa-x-twitter"></i></li>
        <li class="footer_item list-group"><i class="fa-brands fa-instagram"></i></li>
      </ul>
    </div>

  </div>

</footer>
