<h1>all chats</h1>

<% if @chats.any? %>
  <% @chats.each do |chat| %>
    <div>
      <p><strong>user id:</strong> <%= chat.user_id %></p>
      <p><strong>band leader id:</strong> <%= chat.band_leader_id %></p>
      <%= link_to 'view chat', chat_path(chat) %> <!-- link to individual chat view -->
    </div>
    <hr>
  <% end %>
<% else %>
  <p>no chats available.</p>
<% end %>
