<div class="container">

  <h1 class="text-center mb-4">Meet the band behind Bandfinder!</h1>

 <%# Matteo %>
  <div class="row mb-3">

    <div class="col-2 d-flex">
      <div class="p-2 justify-content-center">
        <%= image_tag "matteo.jpg", alt: "Matteo Trianni", class:"rounded-image" %>
      </div>
    </div>

    <div class="col-6 p-3 d-flex ">

      <div class="card shadow-sm border solid">

        <div class="card-body">
          <h5 class="card-title text-primary">Matteo</h5>
          <p class="card-text">Hi, I am Matteo. I started to study software development because I like to Take a chance on myself and increase my logic skills </p>
        </div>

        <div class="card-footer text-muted">
          <small>Motto : "If life is bitter, add a little sugar." </small>
        </div>
      </div>

    </div>
  </div>

  <%# Chris %>
  <div class="row mb-3">

    <div class="col-2 d-flex">
      <div class="p-2 justify-content-center">
        <%= image_tag "chris.jpg", alt: "Chris Cashin", class:"rounded-image" %>
      </div>
    </div>

    <div class="col-6 p-3 d-flex ">

      <div class="card shadow-sm border solid">

        <div class="card-body">
          <h5 class="card-title text-primary">Chris</h5>
          <p class="card-text">I'm Chris! I'm learning to code at Le Wagon and hoping to change career later to work on some awesome tech projects!' </p>
        </div>

        <div class="card-footer text-muted">
          <small>Motto : "Life is too short for bad wine!" </small>
        </div>
      </div>

    </div>
  </div>

  <%# Dan %>
  <div class="row mb-3">

    <div class="col-2 d-flex">
      <div class="p-2 justify-content-center">
        <%= image_tag "dan.jpg", alt: "Dan-Sebastien Ursu", class:"rounded-image" %>
      </div>
    </div>

    <div class="col-6 p-3 d-flex ">

      <div class="card shadow-sm border solid">

        <div class="card-body">
          <h5 class="card-title text-primary">Dan</h5>
          <p class="card-text">Hi, I am Dan! Coding fascinates me because it’s where logic meets creativity. At Le Wagon, I'm learning how to transform ideas into real-world solutions. I’m excited to combine my growing tech skills with my professional experience to tackle challenges in innovative ways.</p>
        </div>

        <div class="card-footer text-muted">
          <small>Motto :" Never stop learning, because life never stops teaching!" </small>
        </div>
      </div>

    </div>
  </div>

  <%# Hugo %>
  <div class="row mb-3">

    <div class="col-2 d-flex">
      <div class="p-2 justify-content-center">
        <%= image_tag "hugo.jpg", alt: "Hugo Borges", class:"rounded-image" %>
      </div>
    </div>

    <div class="col-6 p-3 d-flex ">

      <div class="card shadow-sm border solid">

        <div class="card-body">
          <h5 class="card-title text-primary">Hugo</h5>
          <p class="card-text">I studied computer science back in 2011 at the London South Bank University where I first started to learn JavaScript and Phyton. However, since I got carried away from developing my career as a developer I’m now positive that the bootcamp will lead to moving into the tech industry. I’m passionate about coding, challenges and new ideas. I’m enthusiastic and team working. The plan is to learn, develop and level up my skills in coding after finishing the bootcamp and start a new path diving in to different programming languages.</p>
        </div>

        <div class="card-footer text-muted">
          <small>Motto : When life gives you lemons, make lemonade. </small>
        </div>
      </div>

    </div>
  </div>


</div>
