<div class="container">

  <h1 class="about-title text-center mb-5">Meet the Band Behind Bandfinder!</h1>

  <%# Matteo %>
  <div class="row about-row mb-4 position-relative">
    <div class="col-2 d-flex align-items-center position-relative">
      <%= image_tag "matteo.jpg", alt: "Matteo Trianni", class: "square-image shadow-sm" %>
    </div>
    <div class="col-8 about-card">
      <h5 class="card-title about-name">Matteo</h5>
      <p class="about-description">Hi, I am Matteo. I started to study software development because I like to take a chance on myself and increase my logic skills.</p>
      <p class="about-motto">Motto: "If life is bitter, add a little sugar."</p>
    </div>
  </div>

  <%# Chris %>
  <div class="row about-row mb-4 position-relative">
    <div class="col-2 d-flex align-items-center position-relative">
      <%= image_tag "chris.jpg", alt: "Chris Cashin", class: "square-image shadow-sm" %>
    </div>
    <div class="col-8 about-card">
      <h5 class="card-title about-name">Chris</h5>
      <p class="about-description">I'm Chris! I'm learning to code at Le Wagon and hoping to change career to work on some awesome tech projects!</p>
      <p class="about-motto">Motto: "Life is too short for bad wine!"</p>
    </div>
  </div>

  <%# Dan %>
  <div class="row about-row mb-4 position-relative">
    <div class="col-2 d-flex align-items-center position-relative">
      <%= image_tag "dan.jpg", alt: "Dan-Sebastien Ursu", class: "square-image shadow-sm" %>
    </div>
    <div class="col-8 about-card">
      <h5 class="card-title about-name">Dan</h5>
      <p class="about-description">Hi, I am Dan! Coding fascinates me because it’s where logic meets creativity. I'm learning to transform ideas into solutions and I'm excited to tackle challenges innovatively.</p>
      <p class="about-motto">Motto: "Never stop learning, because life never stops teaching!"</p>
    </div>
  </div>

  <%# Hugo %>
  <div class="row about-row mb-4 position-relative">
    <div class="col-2 d-flex align-items-center position-relative">
      <%= image_tag "hugo.jpg", alt: "Hugo Borges", class: "square-image shadow-sm" %>
    </div>
    <div class="col-8 about-card">
      <h5 class="card-title about-name">Hugo</h5>
      <p class="about-description">I studied computer science in 2011, and I'm now reigniting my passion for tech with new skills in various programming languages.</p>
      <p class="about-motto">Motto: "When life gives you lemons, make lemonade."</p>
    </div>
  </div>

</div>
