<div class="popup-container">
    <h1 style="color: black; text-decoration: none;"><%= link_to "#{band.title}", band_path(band) %></h1>
    <% if band.photo.attached? %>
      <%= image_tag band.photo, alt: "#{band.title}", class: "popup-image" %>
    <% else %>
      <%= image_tag "default-profile-image.jpg", alt: "Default Image", class: "popup-image" %>
    <% end %>
  </div>
