<div class="container">
  <h1><%= @band.title %></h1>
  <p><%= @band.description %></p>

  <!-- Button to message the band leader, only shown if current user is not the band leader -->
  <% if current_user != @band.leader %>
    <%= button_to 'Message Band Leader', chats_path(chat: { band_leader_id: @band.leader.id }), method: :post, class: "btn btn-primary" %>
  <% end %>
</div>
