.band_sessions_details_card{
  border-radius: 1rem;
  background-color: #b7410e;
  color: white;
  padding: 2rem;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.page-header{
  margin-top: 85px;
}

.band-session-band-title{
  margin-left: 25px;
}

.session_info{
  margin-left: -400px;
}

.session_status{
  margin-right: -103px;
  margin-top: 36px;
}

.date{
  margin-top: 36px;
  font-size: large;
}

.session_adjust{
  margin-left: 140px;
}


.adjust_only{
  margin-right: 133px;
}
