.band-card {
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "SF Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(12, 74, 209, 0.7);
  border-radius: 5px;
  width: 200px;
  height: 230px;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
}

.band-card:hover {
  background-color: rgba(7, 44, 126, 0.9);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

/* Vignettierung */
.band-card:hover .image-container::after {
  opacity: 1;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, transparent 50%, rgba(7, 44, 126, 0.4) 100%);
  pointer-events: none;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.band-image {
  width: 100%;
  border-radius: 3px;
}

.band-title {
  font-size: 15px;
  text-align: left;
  color: #fff;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
}

/* Info Icon */
.info-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: color 0.3s;
}

.info-icon:hover {
  color: #000000;
}

.info-tooltip {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  width: 150px;
  z-index: 10;
}

/* Tooltip beim Hover anzeigen */
.info-icon:hover .info-tooltip {
  display: block;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.band-location {
  font-size: 12px;
  text-align: left;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 5px;
}
