.chats-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.chats-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.chat-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: #000000 2px 3px 10px;

  p {
    margin: 5px 0;
    font-size: 1.1em;
    color: #555;
  }

  .chat-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.no-chats {
  text-align: center;
  font-size: 1.2em;
  color: #999;
}

.chat-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.chat-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.messages-section {
  margin-bottom: 20px;
}

.messages-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000000;
}

.messages-container {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: #000000 2px 3px 10px;
}

.message-card {
  position: relative;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 60%;

  .message-content {
    margin: 5px 0;
    font-size: 1.1em;
    color: #555;
  }

  .message-timestamp {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.8em;
    color: #888;
  }
}

.current-user {
  background-color: #d1ecf1;
  text-align: right;
  margin-left: auto;
  max-width: 80%;
}

.other-user {
  background-color: #f8d7da;
  text-align: left;
  margin-right: auto;
  max-width: 80%;
}

.no-messages {
  font-size: 1.2em;
  color: #999;
  text-align: center;
}

.send-message-section {
  margin-top: 20px;
}

.send-message-title {
  font-size: 1.2em;
  color: #000000;
  margin-top: 50px
}

.message-form {
  .form-group {
    margin-bottom: 15px;

    .message-input {
      width: 100%;
      padding: 10px;
      font-size: 1em;
      border-radius: 5px;
      border: 1px solid #ddd;
      resize: vertical;
      min-height: 60px;
      box-shadow: #000000 2px 3px 10px;
      margin-top: 0px;
    }
  }

  .form-submit {
    text-align: right;
  }

  .send-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border: none;
    font-size: 1em;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.chat-form-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: #000000 2px 3px 10px;
}

.chat-form {
  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      color: #333;
      margin-bottom: 5px;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      font-size: 1em;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
  }

  .chat-submit-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border: none;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.unread-badge {
  background-color: #ffcccc;
  color: #cc0000;
}

.read-badge {
  background-color: #ccffcc;
  color: #006600;
}

.chat-band-info {
  color: #000;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.create-chat-button, .continue-chat-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 1em;

  &:hover {
      background-color: #0056b3;
  }
}

.chat-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-info {
  flex-grow: 1;
}

.chat-partner-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 15px;
}
