.message-icon-container {
  position: relative;
  display: inline-block;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.unread-count-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 5px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  margin-right: 20px;
}

.envelope-icon {
  font-size: 1.8rem;
  margin-right: 20px;
}

.welcome-message {
  font-size: 1rem;
  margin-right: 1rem;
}

.navbar-logo {
  max-width: 120px;
  height: auto;
}

.navbar-user-info {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link,
.navbar-user-info .navbar-text {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1rem;
  vertical-align: middle;
  margin-right: 3rem;
}

.navbar {
  position: relative;
}

.navbar-text i {
  margin-right: 0.5rem;
}

.navbar-text strong {
  margin-left: 0.25rem; /* space between "Welcome" and the user's name */
}
