.popup-container {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  max-width: 200px;
  overflow: hidden;
}

.popup-container h1 {
  font-size: 1.2em;
  margin: 0 0 10px;
  color: #333;
}

.popup-image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
