.search_input {
  padding: 10px;
  width: 250px;
  height: 50px;
  background: none;
  border: 4px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  // font-family: Comic Sans MS;
  font-size: 26px;
  color: #ffffff;
  outline: none;
  transition: .5s;
}
